@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";

.actions{
  position: absolute;
  left: -30px;
  top: 8px;
  width: 30px;
  display: none;
  z-index: 95;
}
.actions .inr {
  float: right;
  padding: 2px 5px 2px 10px;
  background-color: #fff;
  border-radius: 10px 0 0 10px;
  box-shadow: -1px 0 1px rgba(0,0,0,0.2);
}

.with_actions:hover .actions{
  display: block;
}
.with_actions{
  position: relative;
  font-size: 19px;
  i{
    cursor: pointer;
  }
}
